{
    # Define issuers globally with public resolvers
    cert_issuer acme {
        dns digitalocean {env.DO_API_TOKEN}
        resolvers 1.1.1.1 8.8.8.8
    }
}

(tinyauth_forwarder) {
    forward_auth https://{{ tinyauth_host }}.{{ main_domain }} {
        uri /api/auth/caddy
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Uri {uri}
        copy_headers Remote-User Remote-Name Remote-Email Remote-Groups
    }
}

{% if compose_apps | selectattr('name', 'equalto', 'tinyauth') | list %}
{{ tinyauth_host }}.{{ main_domain }} {
    reverse_proxy {{ docker_upstreams['sso'] }} {
        trusted_proxies 192.168.20.0/24
    }
}

{% endif %}
{% set routable_apps = compose_apps | selectattr('caddy', 'defined') | list %}
{% if routable_apps | length > 0 %}
*.{{ caddy_domain }} {
{% for app in routable_apps %}
{% for route in app.caddy %}
    @{{ route.host }} host {{ route.host }}.{{ caddy_domain }}
    handle @{{ route.host }} {
        {% if route.host not in docker_exclude_sso %}
        import tinyauth_forwarder *
        {% endif %}
        reverse_proxy {{ docker_upstreams[route.host] }}
    }
{% if not loop.last %}

{% endif %}
{% endfor %}
{% if not loop.last %}

{% endif %}
{% endfor %}

    # Fallback for everything else (Denied)
    handle {
        respond "Access Denied" 403
    }
}
{% endif %}
