# Excluded files
*.env
*.db
secrets.yaml

# Excluded directories
.ansible/
.venv/
ansible/molecule-coverage/.data/
ansible/files/secrets/
**/__pycache__/

# ci_boot_test.yaml's compose_deploy_dir
.ci-compose-deploy/
