# Excluded files
*.env
*.db

# Excluded directories
.ansible/
.pytest_cache/
.ruff_cache/
.venv/
ansible/molecule-coverage/.data/
ansible/files/secrets/
ansible/files/restore/
ansible/files/telegram-pins/
**/__pycache__/
