{
  "identities": [
    {
      "name": "seaweedfs-bucket-admin",
      "credentials": [
        {
          "accessKey": "{{ seaweedfs_admin_access_key }}",
          "secretKey": "{{ seaweedfs_admin_secret_key }}"
        }
      ],
      "actions": [
        "Admin:{{ seaweedfs_s3_bucket }}"
      ]
    },
    {
      "name": "seaweedfs-cloud-sync-reader",
      "credentials": [
        {
          "accessKey": "{{ seaweedfs_cloud_sync_reader_access_key }}",
          "secretKey": "{{ seaweedfs_cloud_sync_reader_secret_key }}"
        }
      ],
      "actions": [
        "Read:{{ seaweedfs_s3_bucket }}",
        "List:{{ seaweedfs_s3_bucket }}"
      ]
    }{{ "," if backup_hosts else "" }}
{% for host in backup_hosts %}
    {
      "name": "seaweedfs-backup-{{ host }}",
      "credentials": [
        {
          "accessKey": "{{ hostvars[host].seaweedfs_s3_access_key }}",
          "secretKey": "{{ hostvars[host].seaweedfs_s3_secret_key }}"
        }
      ],
      "actions": [
        "Write:{{ seaweedfs_s3_bucket }}/{{ host }}-*",
        "Read:{{ seaweedfs_s3_bucket }}/{{ host }}-*",
        "List:{{ seaweedfs_s3_bucket }}/{{ host }}-*",
        "Tagging:{{ seaweedfs_s3_bucket }}/{{ host }}-*"
      ]
    }{{ "," if not loop.last else "" }}
{% endfor %}
  ]
}
