API_KEY={{ lookup('ansible.builtin.pipe', 'python3 -c "import uuid; print(uuid.uuid4())"') }}
APP_URL="{{ shlink_short_host }}.{{ caddy_domain }}"
WEB_APP_URL="https://{{ shlink_web_host }}.{{ caddy_domain }}"
