name: backup-agent

services:
{% if backup_agent_any_stop_apps %}
  backup-dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:v0.5.0
    container_name: backup-agent-dockerproxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - CONTAINERS=1
      - POST=1
      - INFO=1
    networks:
      - backup-agent-net
    restart: unless-stopped
{% endif %}

  backup-agent:
    image: ghcr.io/offen/docker-volume-backup:v2.48.2
    container_name: backup-agent
    volumes:
{% for app in backup_agent_normalized %}
{% for vol in app.volumes %}
      - {{ app.name }}_{{ vol }}:/backup/{{ app.name }}_{{ vol }}:ro
{% endfor %}
{% endfor %}
      - ./gpg-public-key.asc:/etc/backup/gpg-public-key.asc:ro
      - ./conf.d:/etc/dockervolumebackup/conf.d:ro
    env_file:
      - .env
    networks:
      - backup-agent-net
    restart: unless-stopped

networks:
  backup-agent-net:
    driver: bridge

volumes:
{% for app in backup_agent_normalized %}
{% for vol in app.volumes %}
  {{ app.name }}_{{ vol }}:
    external: true
    name: {{ app.name }}_{{ vol }}
{% endfor %}
{% endfor %}
