#--------------------
# General Config
#--------------------
UID=1000
GID=1000
TZ={{ server_timezone }}

#--------------------
# LDAP Config
#--------------------
LLDAP_JWT_SECRET={{ lookup('pipe', 'openssl rand -hex 32') }}
LLDAP_KEY_SEED={{ lookup('pipe', 'openssl rand -hex 32') }}
LLDAP_LDAP_BASE_DN=dc=example,dc=com
LLDAP_LDAP_USER_PASS={{ lookup('pipe', 'openssl rand -hex 32') }}
