#--------------------
# General Config
#--------------------
UID=1000
GID=1000
TZ={{ server_timezone }}

#--------------------
# Certbot Config
#--------------------
DO_API_TOKEN={{ digitalocean_api_key }}
LETSENCRYPT_EMAIL={{ letsencrypt_email }}
LDAP_DOMAIN={{ lldap_host }}.{{ caddy_domain }}

#--------------------
# LDAP Config
#--------------------
LLDAP_JWT_SECRET={{ lookup('pipe', 'openssl rand -hex 32') }}
LLDAP_KEY_SEED={{ lookup('pipe', 'openssl rand -hex 32') }}
LLDAP_LDAP_BASE_DN=dc=example,dc=com
LLDAP_LDAP_USER_PASS={{ lookup('pipe', 'openssl rand -hex 32') }}

#--------------------
# LDAPS Config
#--------------------
LLDAP_LDAPS_OPTIONS__ENABLED=true
LLDAP_LDAPS_OPTIONS__CERT_FILE=/data/certs/fullchain.pem
LLDAP_LDAPS_OPTIONS__KEY_FILE=/data/certs/privkey.pem
