CA_URL={{ step_ca_cert_step_ca_url }}
ROOT_LOCATION={{ step_ca_client_root_cert_path }}
STEP_CLI_IMAGE={{ step_ca_cert_step_cli_image }}
NETWORK={{ step_ca_cert_network_name }}
RENEW_ACTION={{ step_ca_cert_renew_action }}
CHOWN_IMAGE={{ step_ca_cert_chown_image }}
CHOWN_USER={{ step_ca_cert_chown_user }}
