name: lldap

services:
  lldap:
    image: ghcr.io/lldap/lldap:2026-08-08-alpine
    container_name: lldap
    volumes:
      - data:/data
      - certs:/data/certs
    environment:
      UID: 1000
      GID: 1000
      TZ: "{{ server_timezone }}"
      LLDAP_LDAPS_OPTIONS__ENABLED: true
      LLDAP_LDAPS_OPTIONS__CERT_FILE: /data/certs/fullchain.pem
      LLDAP_LDAPS_OPTIONS__KEY_FILE: /data/certs/privkey.pem
    ports:
      - '0.0.0.0:6360:6360' # For LDAPS (LDAP Over SSL)
    networks:
      - caddy-proxy
    restart: unless-stopped
    expose:
      - '17170' # Web front-end
networks:
  caddy-proxy:
    external: true
volumes:
  data:
    external: true
    name: lldap_data
  certs:
    external: true
    name: lldap_certs
