// Managed by Ansible

options {
    directory "/var/cache/bind";

    // Only listen on IPv4
    listen-on { any; };
    listen-on-v6 { none; };

    // Do not allow recursion — authoritative only
    recursion no;
    allow-query { any; };

    // Not using dynamic DNS update
    // Set to "/var/cache/bind/session.key" if using
    session-keyfile none;
};

include "/etc/bind/named.conf.local";
