{
    # Define issuers globally with public resolvers
    cert_issuer acme {
        dns digitalocean {env.DO_API_TOKEN}
        resolvers 1.1.1.1 8.8.8.8
    }
}

*.svc.example.com {
    @bentopdf host bentopdf.svc.example.com
    handle @bentopdf {
        reverse_proxy bentopdf:8080
    }

    @api host cobalt.svc.example.com
    handle @api {
        reverse_proxy cobalt:9000
    }

    @dashy host dashy.svc.example.com
    handle @dashy {
        reverse_proxy dashy:8080
    }

    @dockge host dockge.svc.example.com
    handle @dockge {
        reverse_proxy dockge:5001
    }

    @kms host kms.svc.example.com
    handle @kms {
        reverse_proxy kms-gui:3000
    }

    @shlink host shlink.svc.example.com
    handle @shlink {
        reverse_proxy shlink-web-client:8080
    }

    @short host short.svc.example.com
    handle @short {
        reverse_proxy shlink:8080
    }

    @speedtest host speedtest.svc.example.com
    handle @speedtest {
        reverse_proxy openspeedtest:3000
    }

    @wastebin host wastebin.svc.example.com
    handle @wastebin {
        reverse_proxy wastebin:8088
    }

    @wetty host wetty.svc.example.com
    handle @wetty {
        reverse_proxy wetty:3000
    }
}
