[defaults]
inventory = inventory/inventory.yaml
roles_path = roles
host_key_checking = True
stdout_callback = default
display_ok_hosts = no
display_skipped_hosts = no
callback_result_format = yaml

[ssh_connection]
pipelining = True

[privilege_escalation]
become = False
become_method = sudo
become_user = root
become_ask_pass = False
